.hidden {
    display: none;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fcf7b8;
}


body {
    font-family: 'Playfair Display', sans-serif, Arial;
    font-size: 18px;
    font-color: rgb(0, 30, 0);
}
